@import "tailwindcss";

@theme {
  --color-rm-black: #373736;
  --color-rm-blue: #4D6DB3;
  --color-rm-gold: #CFBC87;
  --color-rm-gold-dark: #9A8549;
  --color-rm-cream: #FBF1ED;

  --font-heading: var(--font-montserrat), sans-serif;
  --font-body: var(--font-inter), sans-serif;
}

body {
  background-color: var(--color-rm-black);
  color: var(--color-rm-cream);
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}
